# IDEA project files
*.iml
*.iws
*.ipr
.idea

# Gradle related files

build/
*.gradle
gradle/
gradlew*

# Eclipse project files
.classpath
.project
.settings
eclipse-output/
eclipse-output-test/

# Maven build directory
target/

# Node modules
*/node_modules

# OS Specific files
.DS_Store

# Log files
.log
