.centered {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-height {
    height: 100vh;
}

table, td, tr {
    padding: 3px 25px;
    font-size: 13px;
    font-family: Serif;
    border: 1px solid black;
    border-collapse: collapse;
}

.credit {
    color: #07b80f;
}

.debit {
    color: #c50606;
}