.centered {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-height {
    height: 100vh;
}

table.transaction, table.transaction th, table.transaction tr, table.transaction td {
    padding: 5px 10px;
    font-size: 13px;
    font-family: Serif;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.credit {
    color: #037c09;
}

.debit {
    color: #c50606;
}